*.pyc
*.pyo
*.db
*.py~
*.bak
*.log
.DS_Store
.coverage
.project
.gitconfig
.config
.pydevproject
/.idea/
/.vscode/
/.ssh/
/log/
/mainsys/cache/
/.config/
!*.sh
/mainsys/config.py
/mainsys/dbconfig.py
.thumbnails
migrations/
debug.text
